rewriteengine on
rewritecond %{HTTP_HOST} ^www.modedistributing.com$ [OR]
rewritecond %{HTTP_HOST} ^modedistributing.com$
rewriterule ^products\.php(.*)$ "http\:\/\/modedistributing\.com\/product$1" [R=301,L] #54610373a9987
rewritecond %{HTTP_HOST} ^www.modedistributing.com$ [OR]
rewritecond %{HTTP_HOST} ^modedistributing.com$
rewriterule ^aga\.php(.*)$ "http\:\/\/modedistributing\.com\/product\/aga$1" [R=301,L] #5460ffc868997
rewritecond %{HTTP_HOST} ^www.modedistributing.com$ [OR]
rewritecond %{HTTP_HOST} ^modedistributing.com$
rewriterule ^promotions\.php(.*)$ "http\:\/\/modedistributing\.com\/promotions$1" [R=301,L] #5460fc5577e0b
rewritecond %{HTTP_HOST} ^www.modedistributing.com$ [OR]
rewritecond %{HTTP_HOST} ^modedistributing.com$
rewriterule ^marvel_outdoor\.php(.*)$ "http\:\/\/modedistributing\.com\/product\/marvel\/marvel-undercounter-refrigeration\/marvel-outdoor\/$1" [R=301,L] #5460fee6b68be
rewritecond %{HTTP_HOST} ^www.modedistributing.com$ [OR]
rewritecond %{HTTP_HOST} ^modedistributing.com$
rewriterule ^vent-a-hood\.php(.*)$ "http\:\/\/modedistributing\.com\/product\/vent-a-hood$1" [R=301,L] #5461081e5b5b9
rewritecond %{HTTP_HOST} ^www.modedistributing.com$ [OR]
rewritecond %{HTTP_HOST} ^modedistributing.com$
rewriterule ^marvel_products\.php(.*)$ "http\:\/\/modedistributing\.com\/product\/marvel$1" [R=301,L] #5460fde25dbe3
rewritecond %{HTTP_HOST} ^www.modedistributing.com$ [OR]
rewritecond %{HTTP_HOST} ^modedistributing.com$
rewriterule ^dealer_locator\.php(.*)$ "http\:\/\/modedistributing\.com\/dealer-locator$1" [R=301,L] #5460f8cdd23f6
rewritecond %{HTTP_HOST} ^www.modedistributing.com$ [OR]
rewritecond %{HTTP_HOST} ^modedistributing.com$
rewriterule ^heartland\.php(.*)$ "http\:\/\/modedistributing\.com\/product\/heartland\/$1" [R=301,L] #5461005c71155
rewritecond %{HTTP_HOST} ^www.modedistributing.com$ [OR]
rewritecond %{HTTP_HOST} ^modedistributing.com$
rewriterule ^contact\.php(.*)$ "http\:\/\/modedistributing\.com\/contact$1" [R=301,L] #546105dc54013
rewritecond %{HTTP_HOST} ^www.modedistributing.com$ [OR]
rewritecond %{HTTP_HOST} ^modedistributing.com$
rewriterule ^american_range\.php(.*)$ "http\:\/\/modedistributing\.com\/product\/american-range$1" [R=301,L] #54610476b0e47
rewritecond %{HTTP_HOST} ^www.modedistributing.com$ [OR]
rewritecond %{HTTP_HOST} ^modedistributing.com$
rewriterule ^marvel_professional\.php(.*)$ "http\:\/\/modedistributing\.com\/product\/marvel$1" [R=301,L] #5460fe35b7f88
rewritecond %{HTTP_HOST} ^www.modedistributing.com$ [OR]
rewritecond %{HTTP_HOST} ^modedistributing.com$
rewriterule ^marvel\.php(.*)$ "http\:\/\/modedistributing\.com\/product\/marvel$1" [R=301,L] #5461052ea9f53
rewritecond %{HTTP_HOST} ^www.modedistributing.com$ [OR]
rewritecond %{HTTP_HOST} ^modedistributing.com$
rewriterule ^about\.php(.*)$ "http\:\/\/modedistributing\.com\/about-mode$1" [R=301,L] #54610419b8d7d


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteBase /
</IfModule>
# END WordPress
# BEGIN wtwp_cache
# END wtwp_cache
# BEGIN wtwp_security
# END wtwp_security
rewriterule ^index\.php$ - [L]
rewritecond %{REQUEST_FILENAME} !-f
rewritecond %{REQUEST_FILENAME} !-d
rewriterule . /index.php [L]
